In [ ]:
주소 입력값에 따라서 인근 시설만 추천하는 함수 작성해 주실 수 있나요?

2, 3, 4번 에서 예를 들어 사용자가 '서울 금천구' 작성하면 해당 값 포함하는 값만 추출할 수 있도록요

In [1]:
import pandas as pd

## 1. 장애인스포츠강좌이용권시설인근편의시설정보(202205)
- 장애인스포츠강좌이용권시설

In [4]:
info = pd.read_excel('장애인스포츠강좌이용권시설인근편의시설정보_컬럼정의서.xls')

In [ ]:
'ALSFC_CTPRVN_NM', 'ALSFC_SIGNGU_NM', 'ALSFC_NM', 'ALSFC_ADDR', 'ALSFC_DETAIL_ADDR', 'ALSFC_MAIN_ITEM_NM'

In [5]:
info

    순서                  컬럼영문명        컬럼한글명    데이터타입    길이 PK여부 NOT NULL여부
0    1        ALSFC_CTPRVN_CD     체육시설시도코드  VARCHAR    30  NaN        NaN
1    2        ALSFC_CTPRVN_NM      체육시설시도명  VARCHAR   200  NaN        NaN
2    3        ALSFC_SIGNGU_CD    체육시설시군구코드  VARCHAR    30  NaN        NaN
3    4        ALSFC_SIGNGU_NM     체육시설시군구명  VARCHAR   200  NaN        NaN
4    5               ALSFC_NM        체육시설명  VARCHAR   200  NaN        NaN
5    6   ALSFC_RPRSNTV_TEL_NO  체육시설대표자전화번호  VARCHAR    20  NaN        NaN
6    7           ALSFC_ZIP_NO     체육시설우편번호  VARCHAR     5  NaN        NaN
7    8             ALSFC_ADDR       체육시설주소  VARCHAR   200  NaN        NaN
8    9      ALSFC_DETAIL_ADDR     체육시설상세주소  VARCHAR   200  NaN        NaN
9   10     ALSFC_MAIN_ITEM_CD   체육시설주요종목코드  VARCHAR    30  NaN        NaN
10  11     ALSFC_MAIN_ITEM_NM    체육시설주요종목명  VARCHAR   200  NaN        NaN
11  12               ALSFC_LO       체육시설경도  NUMERIC  30,7  NaN        NaN
12  13               ALSFC_LA       체육시설위도  NUMERIC  30,7  NaN        NaN
13  14               CVNTL_ID       편의시설ID  VARCHAR    50    Y          Y
14  15          CVNTL_FOND_DE     편의시설설립일자  VARCHAR     8  NaN        NaN
15  16               CVNTL_NM        편의시설명  VARCHAR   200  NaN        NaN
16  17               CVNTL_LO       편의시설경도  NUMERIC  30,7  NaN        NaN
17  18               CVNTL_LA       편의시설위도  NUMERIC  30,7  NaN        NaN
18  19            CVNTL_TY_CD     편의시설유형코드  VARCHAR    30  NaN        NaN
19  20            CVNTL_TY_NM      편의시설유형명  VARCHAR   200  NaN        NaN
20  21             CVNTL_ADDR       편의시설주소  VARCHAR   200  NaN        NaN
21  22  PHSTRN_CVNTL_DSTNC_CO    체육편의시설거리수  NUMERIC  10,3  NaN        NaN

4번

In [6]:
center = pd.read_csv('장애인스포츠강좌이용권시설인근편의시설정보(202205).csv')

In [90]:
center['ALSFC_CTPRVN_NM'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [100]:
center

,ALSFC_CTPRVN_CD,ALSFC_CTPRVN_NM,ALSFC_SIGNGU_CD,ALSFC_SIGNGU_NM,ALSFC_NM,ALSFC_RPRSNTV_TEL_NO,ALSFC_ZIP_NO,ALSFC_ADDR,ALSFC_DETAIL_ADDR,ALSFC_MAIN_ITEM_CD,...,CVNTL_ID,CVNTL_FOND_DE,CVNTL_NM,CVNTL_LO,CVNTL_LA,CVNTL_TY_CD,CVNTL_TY_NM,CVNTL_ADDR,PHSTRN_CVNTL_DSTNC_CO,juso
0,11,서울,11230,동대문구,트리플에이짐,233904450.0,2492,서울특별시 동대문구 서울시립대로 155,"면전빌딩 2,3층(전농동)",25,...,88567,20110221.0,마이바움안암,127.023344,37.581397,UC0U04,다세대주택,서울특별시 성북구 안암로5길 54-4,2.722,서울 동대문구
1,11,서울,11200,성동구,서울숲탁구클럽,NaN,4790,서울특별시 성동구 상원4길 9,서울시 성동구 상원4길9 지하(성수동1가),21,...,76247,20020820.0,제일전자공장,127.050178,37.544339,UC0M01,공장,서울특별시 성동구 연무장1길 5,0.331,서울 성동구
2,11,서울,11230,동대문구,트리플에이짐,233904450.0,2492,서울특별시 동대문구 서울시립대로 155,"면전빌딩 2,3층(전농동)",25,...,3692,20050624.0,빕스상봉역점,127.081868,37.595747,UC0B01,일반음식점,서울특별시 중랑구 망우로 263,2.781,서울 동대문구
3,11,서울,11230,동대문구,트리플에이짐,233904450.0,2492,서울특별시 동대문구 서울시립대로 155,"면전빌딩 2,3층(전농동)",25,...,14055,19941228.0,중랑구청,127.076231,37.601690,UC0K01,국가 또는 지자체 청사,서울특별시 중랑구 봉화산로 17,2.781,서울 동대문구
4,11,서울,11230,동대문구,트리플에이짐,233904450.0,2492,서울특별시 동대문구 서울시립대로 155,"면전빌딩 2,3층(전농동)",25,...,634,19840820.0,보문동주민센터,127.022805,37.580373,UC0A03,지역자치센터,서울특별시 성북구 안암로3길 35,2.783,서울 동대문구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
974987,50,제주,50110,제주시,제이엔와이유도아카데미,647490333.0,63097,제주특별자치도 제주시 월랑로4길 25,지하1층(노형동),17,...,99195,20090630.0,푸르니아파트,126.476633,33.490823,UC0U01,아파트,제주특별자치도 제주시 월랑로12길 17-8,0.335,제주 제주시
974988,50,제주,50110,제주시,제이엔와이유도아카데미,647490333.0,63097,제주특별자치도 제주시 월랑로4길 25,지하1층(노형동),17,...,96147,20020503.0,후니참치,126.480938,33.486337,UC0B01,일반음식점,제주특별자치도 제주시 노연로 3,0.330,제주 제주시
974989,50,제주,50110,제주시,제이엔와이유도아카데미,647490333.0,63097,제주특별자치도 제주시 월랑로4길 25,지하1층(노형동),17,...,95886,20090616.0,맥도날드,126.480938,33.486337,UC0B01,일반음식점,제주특별자치도 제주시 노연로 7,0.330,제주 제주시
974990,50,제주,50110,제주시,제이엔와이유도아카데미,647490333.0,63097,제주특별자치도 제주시 월랑로4길 25,지하1층(노형동),17,...,94993,20060626.0,아란야빌딩,126.476083,33.488559,UC0A01,수퍼마켓·일용품 등의 소매점,제주특별자치도 제주시 평화로 241-1,0.329,제주 제주시
974991,50,제주,50110,제주시,제이엔와이유도아카데미,647490333.0,63097,제주특별자치도 제주시 월랑로4길 25,지하1층(노형동),17,...,94906,20010320.0,(주)하이마트신제주점,126.481169,33.486576,UC0A01,수퍼마켓·일용품 등의 소매점,제주특별자치도 제주시 도령로 16,0.315,제주 제주시

In [128]:
center['ALSFC_CTPRVN_NM'].unique()

array(['서울', '부산', '대구', '인천', '광주', '대전', '울산', '세종', '경기', '강원', '충북',
       '충남', '전북', '전남', '경북', '경남', '제주'], dtype=object)

In [96]:
import pickle

centers = center[['ALSFC_CTPRVN_NM', 'ALSFC_SIGNGU_NM', 'ALSFC_NM', 'ALSFC_ADDR', 'ALSFC_DETAIL_ADDR', 'ALSFC_MAIN_ITEM_NM']].copy()
pickle.dump(centers, open('centers.pickle', 'wb'))

In [97]:
pickle.dump(centers, open('centers.pickle', 'wb'))

# center = centers 데이터

### 1-1 장애인스포츠강좌이용권시설인근편의시설정보(202205) 함수

In [107]:
def search(sido, gungu):
    df = centers.loc[centers['ALSFC_CTPRVN_NM'].str.contains(sido) & centers['ALSFC_SIGNGU_NM'].str.contains(gungu)].copy()
    return df[['ALSFC_NM','ALSFC_ADDR','ALSFC_DETAIL_ADDR','ALSFC_MAIN_ITEM_NM']]

In [ ]:
'ALSFC_CTPRVN_NM', 'ALSFC_SIGNGU_NM', 'ALSFC_NM', 'ALSFC_ADDR',

In [108]:
search('서울', '금천구')

,ALSFC_NM,ALSFC_ADDR,ALSFC_DETAIL_ADDR,ALSFC_MAIN_ITEM_NM
2088,The 조은태권도,서울특별시 금천구 독산로80길 10,2층(독산동),태권도
2089,The 조은태권도,서울특별시 금천구 독산로80길 10,2층(독산동),태권도
2090,The 조은태권도,서울특별시 금천구 독산로80길 10,2층(독산동),태권도
2091,The 조은태권도,서울특별시 금천구 독산로80길 10,2층(독산동),태권도
2092,The 조은태권도,서울특별시 금천구 독산로80길 10,2층(독산동),태권도
...,...,...,...,...
203390,코끼리아동청소년발달센터,서울특별시 금천구 시흥대로 399,5층 515호 코끼리아동청소년발달센터(독산동),기타종목
203391,코끼리아동청소년발달센터,서울특별시 금천구 시흥대로 399,5층 515호 코끼리아동청소년발달센터(독산동),기타종목
203392,코끼리아동청소년발달센터,서울특별시 금천구 시흥대로 399,5층 515호 코끼리아동청소년발달센터(독산동),기타종목
203393,코끼리아동청소년발달센터,서울특별시 금천구 시흥대로 399,5층 515호 코끼리아동청소년발달센터(독산동),기타종목
203394,코끼리아동청소년발달센터,서울특별시 금천구 시흥대로 399,5층 515호 코끼리아동청소년발달센터(독산동),기타종목

### 2. 장애인 생활체육교실 데이터

In [60]:
class_info = pd.read_excel('장애인 생활체육교실 데이터_컬럼정의서.xls')
class_info

   순서             컬럼영문명   컬럼한글명    데이터타입    길이 PK여부 NOT NULL여부
0   1           ITEM_NM     종목명  VARCHAR   200    N          N
1   2        SUBITEM_NM    부종목명  VARCHAR   200    N          N
2   3         CTPRVN_NM     시도명  VARCHAR   200    N          N
3   4         SIGNGU_NM    시군구명  VARCHAR   200    N          N
4   5         CLSSRM_NM     교실명  VARCHAR   200    N          N
5   6       TROBL_TY_NM   장애유형명  VARCHAR   200    N          N
6   7      OPER_TIME_CN  운영시간내용  VARCHAR  4000    N          N
7   8  CLSSRM_INTRCN_CN  교실소개내용  VARCHAR  1000    N          N
8   9          RCRIT_PD    모집기간  VARCHAR    20    N          N
9  10           OPER_PD    운영기간  VARCHAR   500    N          N

In [62]:
cla = pd.read_csv('장애인 생활체육교실 데이터(202205).csv')

In [73]:
cla['juso'] = cla['CTPRVN_NM'] +" "+ cla['SIGNGU_NM']

In [67]:
cla.fillna('',inplace = True)

In [114]:
import pickle

pickle.dump(cla, open('cla.pickle', 'wb'))

In [111]:
def search_class(sido, gungu, jang):
    df = cla.loc[cla['CTPRVN_NM'].str.contains(sido) & cla['SIGNGU_NM'].str.contains(gungu) & cla['TROBL_TY_NM'].str.contains(jang)].copy()
    return df

In [113]:
search_class('서울','금천', '지적장애')

,ITEM_NM,SUBITEM_NM,CTPRVN_NM,SIGNGU_NM,CLSSRM_NM,TROBL_TY_NM,OPER_TIME_CN,CLSSRM_INTRCN_CN,RCRIT_PD,OPER_PD,juso
5,검도,,서울,금천구,2021 금천구 지적장애인 검도교실(금천구장애인체육회),지적장애,매주 토 11:10-12:10,,20210201~20210430,20210401~20210930,서울 금천구
512,기타,헬스,서울,금천구,2021 금천구 지적청소년어울림 근력운동교실(금천구장애인체육회),지적장애,매주 토 10:00~11:00,,20210201~20210430,20210401~20210930,서울 금천구
886,축구,,서울,금천구,2021 금천구 장애아동 축구교실(금천장애인종합복지관),지적장애,매주 월 16:30~18:00,,20210201~20210430,20210401~20211030,서울 금천구
1030,태권도,,서울,금천구,2021 금천구 발달장애인 태권도/트램플린교실(금천발달장애인평생교육센터),지적장애,매주 화 10:40~11:40,,20210201~20210430,20210401~20210930,서울 금천구
1144,배드민턴,,서울,금천구,2021 금천구 지적장애인 배드민턴교실(임마누엘독산공동체),지적장애,매주 토 14:00~16:00,,20210201~20210530,20210501~20210730,서울 금천구

### 3. 장애인 생활체육 동호인 동호회 조회 정보

In [34]:
group_info = pd.read_excel('장애인 생활체육 동호인 클럽 조회_컬럼정의서.xls')

In [37]:
group_info

   순서           컬럼영문명    컬럼한글명    데이터타입    길이 PK여부 NOT NULL여부
0   1         ITEM_NM      종목명  VARCHAR   200    N          N
1   2      SUBITEM_NM     부종목명  VARCHAR   200    N          N
2   3       CTPRVN_NM      시도명  VARCHAR   200    N          N
3   4       SIGNGU_NM     시군구명  VARCHAR   200    N          N
4   5         CLUB_NM     동호회명  VARCHAR   200    N          N
5   6     TROBL_TY_NM    장애유형명  VARCHAR   200    N          N
6   7    OPER_TIME_CN   운영시간내용  VARCHAR  4000    N          N
7   8  CLUB_INTRCN_CN  동호회소개내용  VARCHAR  1000    N          N

In [43]:
group = pd.read_csv('장애인 생활체육 동호인 동호회 조회 정보(202205).csv')

In [115]:
group

,ITEM_NM,SUBITEM_NM,CTPRVN_NM,SIGNGU_NM,CLUB_NM,TROBL_TY_NM,OPER_TIME_CN,CLUB_INTRCN_CN,juso
0,검도,,경기,,검도 개인(클럽없음),,,클럽에 소속되지 않은 동호인이 검도종목 대회에 참가하기위해 신청하는 클럽입니다.,
1,검도,,경기,동두천시,두드림장애인검도클럽,지체장애,"매주 수, 오후2시",,경기동두천시
2,검도,,대전,동구,발달장애인 검도교실,지적장애,"매주 화, 수 오전11시",발달장애인 주간활동서비스 검도교실입니다,대전동구
3,골볼,,충남,아산시,2021년 아산스마트장애인골볼클럽,시각장애,매주 금 오전 10시 30분~11시 30분,,충남아산시
4,골볼,,광주,서구,광주골볼동호회,시각장애,매주 토 오후 3시,,광주서구
...,...,...,...,...,...,...,...,...,...
802,야구소프트볼,,경남,사천시,경남휠다이노스,지체장애,매주 화.목 오후2시,,경남사천시
803,야구소프트볼,,서울,중랑구,대한장애인야구클럽,지체장애,매주 토요일 오후 2시,대한민국 지체장애인 야구클럽으로 야구에 대한 열정으로 장애인 및 비장애인들의 어울림...,서울중랑구
804,야구소프트볼,,대구,달서구,데프우먼야구단,청각장애,"매주 토,일 오전10시~오후5시",,대구달서구
805,야구소프트볼,기타,강원,정선군,정선천하무적야구단,비장애인,매주 월,정선군종합사회복지관 프로그램으로 지적장애인과 비장애인 봉사 코치진으로 어울림 야구를...,강원정선군
806,아이스슬레지하키,,서울,송파구,KNSU 파라스타즈,비장애인,"매주 토, 일 오후 3시",한국체육대학교 파라아이스하키클럽 팀입니다.,서울송파구

In [120]:
import pickle

pickle.dump(group, open('group.pickle', 'wb'))

In [45]:
group['juso'] = group['CTPRVN_NM'] + group['SIGNGU_NM']

In [55]:
group.fillna('', inplace=True)

In [117]:
def search_group(sido, gungu, jang):
    df = cla.loc[cla['CTPRVN_NM'].str.contains(sido) & cla['SIGNGU_NM'].str.contains(gungu) & cla['TROBL_TY_NM'].str.contains(jang)].copy()
    return df

In [118]:
search_group('서울', '금천구', '청각장애')

,ITEM_NM,SUBITEM_NM,CTPRVN_NM,SIGNGU_NM,CLSSRM_NM,TROBL_TY_NM,OPER_TIME_CN,CLSSRM_INTRCN_CN,RCRIT_PD,OPER_PD,juso
841,유도,,서울,금천구,2021 금천구 청각장애인 유도교실(독산유도클럽),청각장애,매주 월 19:00~21:00,,20210201~20210430,20210401~20210930,서울 금천구

In [119]:
con_info = pd.read_excel('장애인스포츠강좌이용권시설인근편의시설정보_컬럼정의서.xls')

In [38]:
con_info

    순서                  컬럼영문명        컬럼한글명    데이터타입    길이 PK여부 NOT NULL여부
0    1        ALSFC_CTPRVN_CD     체육시설시도코드  VARCHAR    30  NaN        NaN
1    2        ALSFC_CTPRVN_NM      체육시설시도명  VARCHAR   200  NaN        NaN
2    3        ALSFC_SIGNGU_CD    체육시설시군구코드  VARCHAR    30  NaN        NaN
3    4        ALSFC_SIGNGU_NM     체육시설시군구명  VARCHAR   200  NaN        NaN
4    5               ALSFC_NM        체육시설명  VARCHAR   200  NaN        NaN
5    6   ALSFC_RPRSNTV_TEL_NO  체육시설대표자전화번호  VARCHAR    20  NaN        NaN
6    7           ALSFC_ZIP_NO     체육시설우편번호  VARCHAR     5  NaN        NaN
7    8             ALSFC_ADDR       체육시설주소  VARCHAR   200  NaN        NaN
8    9      ALSFC_DETAIL_ADDR     체육시설상세주소  VARCHAR   200  NaN        NaN
9   10     ALSFC_MAIN_ITEM_CD   체육시설주요종목코드  VARCHAR    30  NaN        NaN
10  11     ALSFC_MAIN_ITEM_NM    체육시설주요종목명  VARCHAR   200  NaN        NaN
11  12               ALSFC_LO       체육시설경도  NUMERIC  30,7  NaN        NaN
12  13               ALSFC_LA       체육시설위도  NUMERIC  30,7  NaN        NaN
13  14               CVNTL_ID       편의시설ID  VARCHAR    50    Y          Y
14  15          CVNTL_FOND_DE     편의시설설립일자  VARCHAR     8  NaN        NaN
15  16               CVNTL_NM        편의시설명  VARCHAR   200  NaN        NaN
16  17               CVNTL_LO       편의시설경도  NUMERIC  30,7  NaN        NaN
17  18               CVNTL_LA       편의시설위도  NUMERIC  30,7  NaN        NaN
18  19            CVNTL_TY_CD     편의시설유형코드  VARCHAR    30  NaN        NaN
19  20            CVNTL_TY_NM      편의시설유형명  VARCHAR   200  NaN        NaN
20  21             CVNTL_ADDR       편의시설주소  VARCHAR   200  NaN        NaN
21  22  PHSTRN_CVNTL_DSTNC_CO    체육편의시설거리수  NUMERIC  10,3  NaN        NaN